# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.Po
*.Plo
Makefile
record/mea_record
rawsrv/mea_nssrv
*/.libs
neurosock/mea_neurosock
replay/mea_replay
rms/mea_rms
robot/mea_robot
scope/mea_scope
spikesrv/mea_spikedet
config.status
scope/FreezeInfo.moc.C
scope/QMultiScope.moc.C
scope/QScope.moc.C
scope/Scope.moc.C
scope/ScopeD.C
scope/ScopeD.H
scope/ScopeD.moc.C
mea_salpa
libtool
gui/QGraph.moc.C
gui/QMultiGraph.moc.C
