# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
*.Po
*.Plo
matlab/Makefile
neurosock/Makefile
rawsrv/Makefile
record/Makefile
replay/Makefile
rms/Makefile
scope/Makefile
spikesrv/Makefile
tools/Makefile
Makefile
artifilt/Makefile
base/Makefile
common/Makefile
gui/Makefile
